body {
  margin: 0;
  background-color: lightblue;
}

.apple-pay-button {
  -webkit-appearance: -apple-pay-button;
  -apple-pay-button-type: plain;
  -apple-pay-button-style: black;
  -webkit-appearance: -apple-pay-button;
  width: 100%;
  height: 50px;
}
